:root {
  --red: #f64a4a;
  --yellow: #f8cd65;
  --orange: #fb7c58;
  --neon-green: #a4ffaf;
  --grey: #817d92;
  --dark-grey: #24232c;
  --black: #18171f;
  --white: #e6e5ea;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
}

button {
  font-size: 1.6rem;
}

h1 {
  font-size: 1.6rem;
  text-align: center;
  color: var(--grey);
}

label {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Result */

.pw-generated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 34.3rem;
  margin: 0 auto;
  background-color: var(--dark-grey);
  padding: 1.6rem;
}

.pw-generated__result {
  font-size: 2.4rem;
  line-height: 3.2rem;
  border: none;
  background-color: transparent;
  color: var(--white);
  width: 100%;
}

.pw-generated__result:focus {
  outline: none;
}

.pw-generated .icon {
  color: var(--neon-green);
  cursor: pointer;
}

.pw-generated .icon:hover {
  color: var(--white);
}

/* Form */

.pw-form {
  padding: 1.6rem;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.currentCharacterLength {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--neon-green);
}

/* Slider */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  background: var(--black);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  background: var(--black);
  border: 2px solid var(--neon-green);
}

.slider:hover::-moz-range-thumb {
  background: var(--black);
  border: 2px solid var(--neon-green);
}

/* Checkboxes */
/* https: //www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: 0.2rem solid var(--white);
}

.checkmark:hover {
  border-color: var(--neon-green);
}

.container input:checked ~ .checkmark {
  background-color: var(--neon-green);
  border: none;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark::after {
  left: 0.65rem;
  top: 0.3rem;
  width: 0.4rem;
  height: 1rem;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pw-checkboxes {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.pw-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--black);
  padding: 1.6rem;
}

.pw-strength > div:first-child {
  color: var(--grey);
}

.pw-strength > div:last-child {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.bars {
  display: flex;
  gap: 0.8rem;
}

.bar {
  height: 2.8rem;
  width: 1rem;
  border: 0.2rem solid var(--white);
}

.bar--strong {
  border: none;
  background-color: var(--neon-green);
}

.bar--weak {
  border: none;
  background-color: var(--orange);
}

.bar--too-weak {
  border: none;
  background-color: var(--red);
}

.bar--medium {
  border: none;
  background-color: var(--yellow);
}

.pw-form button {
  padding: 1.8rem 0;
  background-color: var(--neon-green);
  border: 0.2rem solid var(--neon-green);
  text-transform: uppercase;
  cursor: pointer;
}

.pw-form button:hover {
  background-color: var(--black);
  color: var(--neon-green);
}

.pw-form button .icon {
  margin-left: 1rem;
}
